*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
#eclipse
.metadata
.reccomenders


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.classpath
*.project
*.gen
*.repositories
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/resolver-status.properties
.recommenders/repository/http___download_eclipse_org_recommenders_models_luna_/org/eclipse/recommenders/index/0.0.0-SNAPSHOT/maven-metadata-models.xml
*.zip
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.tii
*.tis
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.nrm
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.prx
*.frq
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.fnm
*.fdt
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/_0.fdx
.recommenders/index/http___download_eclipse_org_recommenders_models_luna_/segments_1
*.lock
.gradle/2.2.1/taskArtifacts/cache.properties
*.gradle
gradlew
Credits.txt
gradle/wrapper/gradle-wrapper.properties
GradleRIO4Dummies.txt
gradlew.bat
Vision-Testing/build.xml
Vision-Testing/build.properties
